body {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  /* background-position: 0% 90%; */
  background-image: linear-gradient(#240a2a, #e8a0cc, #240a2a);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Luckiest Guy', cursive;
  /* margin: 0; */
}

header {
  z-index: 0;
}

header h3 {
  font-size: 1.6rem;
  color: #ed88d8;
  text-shadow: 2px 2px #582fa8;
  margin-left: 10px;
}

span {
  height: 50px;
  z-index: 10;
  color: #eea0df;
  text-shadow: 2px 2px #582fa8;
  margin-left: 10px;
}
 footer {
  position: absolute;
  margin-top: 80%;
  margin-left: 35%;
  color: white;
}


  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideInFromBottom {
    0% {
      transform: translateY(2000%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes slideInFromTop {
    0% {
      transform: translateY(-2000%);
    }
    100% {
      transform: translateY(0);
    }
  }

  .contactsMain3 {
    /* z-index: -2; */
  }
.bg-images {
  display: flex;
}
  .mainImg { 
    display: inline-block;
  margin-top: -25%;
  width: 100%;
  height: 85%;
  }
  .mainImg:nth-child(2), .mainImg:nth-child(3), .mainImg:nth-child(4){
    display: none;
  }
  

.menu {
position: absolute;
top: 0;
left: 0;
margin-top: 30%;
margin-left: 10%;
}

.menu span {
  cursor: pointer;
}

.info div{
  display: none;
  position: absolute;
top: 0;
left: 0;
margin-top: 10%;
margin-left: 5%;
}
.info img {
  position: absolute;
  margin-top: -20%;
  /* margin-left: -65%; */
  border-radius: 5px;
  z-index: -1;
}
.info span {
  width: 320px;
  position: absolute;
  /* z-index: 1; */
}
.close-btn1 {
  background-color: #582fa8;
  height: 20px;
  width: 50px;
  color: #de5ec4;
  text-shadow: none;
  margin-left: -5%;
}
.one, .two, .three, .four {
  margin-top: -20%;
}
.one {
  margin-left: -65%;
}
.two {
  margin-left: -45%;
}
.three {
  margin-left: -55%;
}

.four {
  margin-left: -75%;
}


  .playNav {
    position: absolute;
    top: 0;
left: 0;
    margin-top: 70%;
    transition: all 0.5s;
    margin-bottom: 20px;
    box-shadow: 10px 14px 28px rgb(0, 0, 0), 10px 10px 10px rgba(0, 0, 0, 0.22);
    background-image: url('public/images/nav-bg.png');
      display: flex;
      justify-content: space-between;
      border-radius: 5px;
      height: 120px;
  }
  .navBg {
    /* top: 0;
    left: 0; */
    width: 25%;
    height: 120px;
    z-index: 0;
    animation: zoomin 1s ease-in-out;
  }
  .navBg:nth-child(2) {
    animation: zoomin 2s ease-in-out;
  }
  .navBg:nth-child(3) {
    animation: zoomin 3s ease-in-out;
  }
  .navBg:nth-child(4) {
    animation: zoomin 4s ease-in-out;
  }

  @keyframes zoomin {
    0% {
      transform: scale(0);
    }
    90% {
      transform: scale(1.1);
    }
    95% {
      transform: scale(1.07);
    }
    100% {
      transform: scale(1);
    }
  }
 
.navImg {
  position: absolute;
  height: 80px;
  border-radius: 5px;
}
.navImg:hover {
  transform: scale(1.2);
  border-radius: 5px;
}
  .btns {
    margin-top: 10%;
    position: absolute;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
   }

.navImg:nth-child(1) {
  margin-left: -65%; 
  animation: slideInFromLeft 2s ease-in forwards; 
    }
    .navImg:nth-child(2) {
      margin-left: -25%; 
      animation: 2s ease-out 0s 1 slideInFromBottom; 
        }
    .navImg:nth-child(3) {
      margin-left: 20%;
      animation: 2s ease-out 0s 1 slideInFromTop;  
        }

        .navImg:nth-child(4) {
          margin-left: 60%;  
          animation: slideInFromRight 2s ease-in forwards;
            }

.expl {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 110%;
  margin-left: 15%;
  /* z-index: -1; */
  /* tova tr da e taka samo kogato se poiaviavat golemite snimki */
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 5%;
  margin-left: 10%;
}
.img-text {
  margin-top: -5%;
  display: none;
  border-radius: 5px;
}
.bigImg {
  position: absolute;
  width: 280px;
  height: 455px;
  border-radius: 5px;
  z-index: 0;
}

.close-btn {
  position: absolute;
  margin-top: 50%;
  margin-left: -10%;
  border: none;
  background-color: inherit;
  cursor: pointer;
  z-index: 1;
}

.blurred {
  filter: blur(4px);
}
 .blurSpan {
  position: absolute;
  width: 300px;
  /* top: 0; */
  left: 0;
  margin-top: 90%;
  z-index: 0;
 }
 
